<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55167005601-60ke599q91aj5q6fukl172gcm4vurj1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55167005601-60ke599q91aj5q6fukl172gcm4vurj1v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55167005601-5gldgs287gksu7botk8agtmiuc5m1olh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDIb4_xZKaCFGSAOQ1dC16sRPvrnMeQCE</string>
	<key>GCM_SENDER_ID</key>
	<string>55167005601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rba.generadoreselectricos</string>
	<key>PROJECT_ID</key>
	<string>rba-generators</string>
	<key>STORAGE_BUCKET</key>
	<string>rba-generators.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55167005601:ios:17d8c999ab66b9825751e0</string>
	<key>DATABASE_URL</key>
	<string>https://rba-generators-default-rtdb.firebaseio.com</string>
</dict>
</plist>